@import '../../styles/variables';

.book-card {
  display: flex;
  flex: 1 1 calc(25% - 36px);
  max-width: 30vw;
  background-color: $body-yellow;

  .book-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px;
    width: 100%;

    h1 {
      font: $nav-links-font;
      text-align: center;
      padding: 4px;
    }

    p {
      font: $small-font;
      color: $light-gray;
      text-align: center;
    }

    img {
      max-width: 100px;
      max-height: 150px;
      margin: 10px auto;
    }

    .search-info {
      font: $standard-font;
    }
  }

  @media only screen and (max-width: $xs) {
    .book-card-wrapper {
      h1 {
        font: $nav-links-xs-font;
      }

      img {
        max-width: 50px;
        max-height: 100px;
      }

      p {
        font: $standard-font-xs;
      }

      .search-info {
        font: $standard-font-xs;
      }
    }
  }
}
